/* Generell Styles */
* {
    margin: 0;
    padding: 0;
}

html {
    color: #393940;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
}

.clear-float {
    clear: both;
}

.divider {
    height: 20px;
    width: 100%;
}

/* Typography */
h1 {
    font-family: 'Yeseva One', serif;
    font-size: 3rem;
    color: aliceblue;
    padding: .4em 0 1em .4em;
}

h2 {
    color: aliceblue;
    margin-bottom: .8em ;
}

/* Header styles */
header {
    background: #092f25;
}

/* Navigation styles */
main > nav {
    width: 30%;
    background: aliceblue;
    float: right;
    padding: 1em 1.5em;
}

nav li {
    list-style: none;
}

nav li a {
    color: #092f25;
}

/* Banner styles */
.banner {
    height: 250px;
    background: aliceblue;
    text-align: center;
    align-content: center;
    padding-top: 140px;
    background-image: url("https://images.pexels.com/photos/2248449/pexels-photo-2248449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner cite {
    margin-top: 100px;
    padding: 1em 2em;
    background: aliceblue;
}

/* Main styles */
main {
    padding: 20px 30px;
    background: #092f25;
}

.articles-list {
    width: 50%;
    margin: 0 auto;
    float: left;
}

.article {
    background: azure;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-radius: 10px;
}

.article > h3 {
    margin: 0 0 .5em 0;
}

.article > p {
    width: 90%;
}


